reference/01-aifirstdelivery/tools/opex_integration_dm/adf/pipelines/pl_reprocess.json
{
  "name": "pl_reprocess",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "description": "Re-runs the error subset of a prior run. Reads /errors/<entityKey>/<priorRunId>/*.parquet, replays through stage_validate → transform_inbound → load_upsert with a synthetic sub-runId.",
    "annotations": ["opex-integration", "v1"],
    "parameters": {
      "entityKey":   { "type": "String" },
      "priorRunId":  { "type": "String" },
      "runId":       { "type": "String", "defaultValue": "@pipeline().RunId" },
      "configPath":  { "type": "String" },
      "errorTypes":  { "type": "Array",  "defaultValue": ["validation", "transform", "load"] }
    },
    "variables": {
      "subRunId": { "type": "String" }
    },
    "activities": [
      {
        "name": "SetVar_SubRunId",
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "subRunId",
          "value": "@concat(pipeline().parameters.priorRunId, '-rp-', pipeline().parameters.runId)"
        }
      },
      {
        "name": "ForEach_ErrorType",
        "type": "ForEach",
        "dependsOn": [{ "activity": "SetVar_SubRunId", "dependencyConditions": ["Succeeded"] }],
        "typeProperties": {
          "items": { "value": "@pipeline().parameters.errorTypes", "type": "Expression" },
          "isSequential": true,
          "activities": [
            {
              "name": "Copy_ReplayErrorsAsRaw",
              "type": "Copy",
              "policy": { "timeout": "0.00:30:00", "retry": 3, "retryIntervalInSeconds": 30 },
              "typeProperties": {
                "source": {
                  "type": "ParquetSource",
                  "storeSettings": { "type": "AzureBlobFSReadSettings", "recursive": false }
                },
                "sink": {
                  "type": "ParquetSink",
                  "storeSettings": { "type": "AzureBlobFSWriteSettings" },
                  "formatSettings": { "type": "ParquetWriteSettings" }
                }
              },
              "inputs": [{
                "referenceName": "ds_adls_parquet",
                "type": "DatasetReference",
                "parameters": {
                  "folder":   "@concat('errors/', pipeline().parameters.entityKey, '/', pipeline().parameters.priorRunId)",
                  "fileName": "@concat(item(), '_errors.parquet')"
                }
              }],
              "outputs": [{
                "referenceName": "ds_adls_parquet",
                "type": "DatasetReference",
                "parameters": {
                  "folder":   "@concat('raw/', pipeline().parameters.entityKey, '/', variables('subRunId'))",
                  "fileName": "data.parquet"
                }
              }]
            }
          ]
        }
      },
      {
        "name": "ExecutePipeline_StageValidate",
        "type": "ExecutePipeline",
        "dependsOn": [{ "activity": "ForEach_ErrorType", "dependencyConditions": ["Succeeded"] }],
        "typeProperties": {
          "pipeline": { "referenceName": "pl_stage_validate", "type": "PipelineReference" },
          "waitOnCompletion": true,
          "parameters": {
            "entityKey":  "@pipeline().parameters.entityKey",
            "runId":      "@variables('subRunId')",
            "configPath": "@pipeline().parameters.configPath"
          }
        }
      },
      {
        "name": "ExecutePipeline_Transform",
        "type": "ExecutePipeline",
        "dependsOn": [{ "activity": "ExecutePipeline_StageValidate", "dependencyConditions": ["Succeeded"] }],
        "typeProperties": {
          "pipeline": { "referenceName": "pl_transform_inbound", "type": "PipelineReference" },
          "waitOnCompletion": true,
          "parameters": {
            "entityKey":   "@pipeline().parameters.entityKey",
            "runId":       "@variables('subRunId')",
            "configPath":  "@pipeline().parameters.configPath",
            "dataflowName": ""
          }
        }
      },
      {
        "name": "ExecutePipeline_Load",
        "type": "ExecutePipeline",
        "dependsOn": [{ "activity": "ExecutePipeline_Transform", "dependencyConditions": ["Succeeded"] }],
        "typeProperties": {
          "pipeline": { "referenceName": "pl_load_upsert", "type": "PipelineReference" },
          "waitOnCompletion": true,
          "parameters": {
            "entityKey":   "@pipeline().parameters.entityKey",
            "runId":       "@variables('subRunId')",
            "configPath":  "@pipeline().parameters.configPath"
          }
        }
      }
    ],
    "folder": { "name": "opex/operations" }
  }
}
