reference/01-aifirstdelivery/tools/opex_integration_dm/adf/pipelines/pl_stage_validate.json
{
  "name": "pl_stage_validate",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "description": "Wraps df_stage_validate. Reads /raw/<entityKey>/<runId>, splits to /staged + /errors/validation_errors.",
    "annotations": ["opex-integration", "v1", "both-directions"],
    "parameters": {
      "entityKey":   { "type": "String" },
      "runId":       { "type": "String", "defaultValue": "@pipeline().RunId" },
      "configPath":  { "type": "String" },
      "onDuplicate": { "type": "String", "defaultValue": "keepLatest" }
    },
    "variables": {
      "rowsRead":         { "type": "Integer", "defaultValue": 0 },
      "rowsValid":        { "type": "Integer", "defaultValue": 0 },
      "rowsInvalid":      { "type": "Integer", "defaultValue": 0 },
      "status":           { "type": "String",  "defaultValue": "Success" }
    },
    "activities": [
      {
        "name": "DataFlow_StageValidate",
        "type": "ExecuteDataFlow",
        "policy": { "timeout": "0.01:00:00", "retry": 1, "retryIntervalInSeconds": 60 },
        "typeProperties": {
          "dataflow": {
            "referenceName": "df_stage_validate",
            "type": "DataFlowReference",
            "parameters": {
              "inputPath":   { "value": "@concat('raw/', pipeline().parameters.entityKey, '/', pipeline().parameters.runId, '/*.parquet')", "type": "Expression" },
              "validPath":   { "value": "@concat('staged/', pipeline().parameters.entityKey, '/', pipeline().parameters.runId)", "type": "Expression" },
              "errorPath":   { "value": "@concat('errors/', pipeline().parameters.entityKey, '/', pipeline().parameters.runId, '/validation_errors')", "type": "Expression" },
              "entityKey":   { "value": "@pipeline().parameters.entityKey", "type": "Expression" },
              "runId":       { "value": "@pipeline().parameters.runId", "type": "Expression" },
              "onDuplicate": { "value": "@pipeline().parameters.onDuplicate", "type": "Expression" }
            },
            "datasetParameters": {
              "srcRaw": {
                "container": "opex-integration",
                "folder":    "@concat('raw/', pipeline().parameters.entityKey, '/', pipeline().parameters.runId)",
                "fileName":  "*.parquet"
              },
              "sinkValid": {
                "container": "opex-integration",
                "folder":    "@concat('staged/', pipeline().parameters.entityKey, '/', pipeline().parameters.runId)",
                "fileName":  "data.parquet"
              },
              "sinkInvalid": {
                "container": "opex-integration",
                "folder":    "@concat('errors/', pipeline().parameters.entityKey, '/', pipeline().parameters.runId)",
                "fileName":  "validation_errors.parquet"
              }
            }
          },
          "compute": {
            "coreCount": 8,
            "computeType": "General"
          },
          "traceLevel": "Fine"
        }
      },
      {
        "name": "SetVar_RowsValid",
        "type": "SetVariable",
        "dependsOn": [{ "activity": "DataFlow_StageValidate", "dependencyConditions": ["Succeeded"] }],
        "typeProperties": {
          "variableName": "rowsValid",
          "value": "@string(activity('DataFlow_StageValidate').output.runStatus.metrics.sinkValid.rowsWritten)"
        }
      },
      {
        "name": "SetVar_RowsInvalid",
        "type": "SetVariable",
        "dependsOn": [{ "activity": "DataFlow_StageValidate", "dependencyConditions": ["Succeeded"] }],
        "typeProperties": {
          "variableName": "rowsInvalid",
          "value": "@string(activity('DataFlow_StageValidate').output.runStatus.metrics.sinkInvalid.rowsWritten)"
        }
      },
      {
        "name": "Copy_Checkpoint",
        "type": "Copy",
        "dependsOn": [
          { "activity": "SetVar_RowsValid",   "dependencyConditions": ["Succeeded"] },
          { "activity": "SetVar_RowsInvalid", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "additionalColumns": [
              { "name": "pipelineName", "value": "pl_stage_validate" },
              { "name": "entityKey",    "value": "@pipeline().parameters.entityKey" },
              { "name": "runId",        "value": "@pipeline().parameters.runId" },
              { "name": "status",       "value": "@variables('status')" },
              { "name": "completedAt",  "value": "@utcNow()" },
              { "name": "rowsValid",    "value": "@variables('rowsValid')" },
              { "name": "rowsInvalid",  "value": "@variables('rowsInvalid')" }
            ]
          },
          "sink": {
            "type": "JsonSink",
            "storeSettings": { "type": "AzureBlobFSWriteSettings" },
            "formatSettings": { "type": "JsonWriteSettings", "filePattern": "setOfObjects" }
          }
        },
        "inputs": [{
          "referenceName": "ds_adls_json", "type": "DatasetReference",
          "parameters": {
            "folder":   "audit/checkpoints/@{pipeline().parameters.runId}",
            "fileName": "pl_stage_validate.json"
          }
        }],
        "outputs": [{
          "referenceName": "ds_adls_json", "type": "DatasetReference",
          "parameters": {
            "folder":   "audit/checkpoints/@{pipeline().parameters.runId}",
            "fileName": "pl_stage_validate.json"
          }
        }]
      }
    ],
    "folder": { "name": "opex/shared" }
  }
}
