reference/01-aifirstdelivery/tools/opex_integration_dm/adf/pipelines/pl_transform_outbound.json
{
  "name": "pl_transform_outbound",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "description": "Wraps the entity-specific generated outbound Data Flow (df_transform_<entityKey>_outbound). Output goes to /staged-out.",
    "annotations": ["opex-integration", "v1", "outbound"],
    "parameters": {
      "entityKey":     { "type": "String" },
      "runId":         { "type": "String", "defaultValue": "@pipeline().RunId" },
      "configPath":    { "type": "String" },
      "dataflowName":  { "type": "String", "defaultValue": "" }
    },
    "variables": {
      "resolvedDfName": { "type": "String" }
    },
    "activities": [
      {
        "name": "SetVar_ResolveDataflowName",
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "resolvedDfName",
          "value": "@if(empty(pipeline().parameters.dataflowName), concat('df_transform_', pipeline().parameters.entityKey, '_outbound'), pipeline().parameters.dataflowName)"
        }
      },
      {
        "name": "DataFlow_TransformOutbound",
        "type": "ExecuteDataFlow",
        "dependsOn": [{ "activity": "SetVar_ResolveDataflowName", "dependencyConditions": ["Succeeded"] }],
        "policy": { "timeout": "0.02:00:00", "retry": 1, "retryIntervalInSeconds": 60 },
        "typeProperties": {
          "dataflow": {
            "referenceName": "@variables('resolvedDfName')",
            "type": "DataFlowReference"
          },
          "compute": { "coreCount": 16, "computeType": "MemoryOptimized" },
          "traceLevel": "Fine"
        }
      },
      {
        "name": "Copy_Checkpoint",
        "type": "Copy",
        "dependsOn": [{ "activity": "DataFlow_TransformOutbound", "dependencyConditions": ["Succeeded"] }],
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "additionalColumns": [
              { "name": "pipelineName", "value": "pl_transform_outbound" },
              { "name": "entityKey",    "value": "@pipeline().parameters.entityKey" },
              { "name": "runId",        "value": "@pipeline().parameters.runId" },
              { "name": "status",       "value": "Success" },
              { "name": "completedAt",  "value": "@utcNow()" },
              { "name": "dataflowUsed", "value": "@variables('resolvedDfName')" }
            ]
          },
          "sink": {
            "type": "JsonSink",
            "storeSettings": { "type": "AzureBlobFSWriteSettings" },
            "formatSettings": { "type": "JsonWriteSettings", "filePattern": "setOfObjects" }
          }
        },
        "inputs": [{
          "referenceName": "ds_adls_json", "type": "DatasetReference",
          "parameters": {
            "folder":   "audit/checkpoints/@{pipeline().parameters.runId}",
            "fileName": "pl_transform_outbound.json"
          }
        }],
        "outputs": [{
          "referenceName": "ds_adls_json", "type": "DatasetReference",
          "parameters": {
            "folder":   "audit/checkpoints/@{pipeline().parameters.runId}",
            "fileName": "pl_transform_outbound.json"
          }
        }]
      }
    ],
    "folder": { "name": "opex/outbound" }
  }
}
